.main {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #cecece;
}
.githublogo {
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 auto;
}
.formgroup {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 8px;
}
.formcontent {
  width: 20vw;
  margin-top: 6%;
  margin-bottom: 10%;
  margin-left: 18.2vh;
}
.stackcontent {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 8px;
}
.content {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  margin-top: 1%;
  border-radius: 8px;
}
.reponame {
  align-items: left;
  justify-content: left;
  width: 80%;
}
.repostars {
  align-items: right;
  justify-content: right;
  margin: 0 auto;
}

@media screen and (max-width: 1440px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cecece;
  }
  .githublogo {
    justify-content: center;
    align-items: center;
    width: 12%;
    margin: 0 auto;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 34vw;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 9.9vh;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .reponame {
    align-items: left;
    justify-content: left;
    width: 70%;
  }
}

@media screen and (max-width: 1024px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cecece;
  }
  .githublogo {
    justify-content: center;
    align-items: center;
    width: 12%;
    margin: 0 auto;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 64vw;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 2.9vh;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .reponame {
    align-items: left;
    justify-content: left;
    width: 70%;
  }
}

@media screen and (max-width: 768px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cecece;
  }
  .githublogo {
    justify-content: center;
    align-items: center;
    width: 10%;
    margin: 0 auto;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 72vw;
    margin-top: 6%;
    margin-bottom: 10%;
    margin-left: 2.9vh;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 425px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cecece;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 60vw;
    margin-top: 6%;
    margin-bottom: 10%;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 375px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #cecece;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 60vw;
    margin-top: 6%;
    margin-bottom: 10%;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
}

@media screen and (max-width: 320px){
	.main {
    justify-content: center;
    align-items: center;
    min-height: 100vh;;
    background: #cecece;
  }
  .formgroup {
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 8px;
  }
  .formcontent {
    width: 80vw;
    margin-top: 6%;
    margin-bottom: 10%;
  }
  .stackcontent {
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 8px;
  }
}

